<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
        <label>A person: 
        <input type="text" name="person"></input></label><br>
        <label>A noun: 
        <input type="text" name="noun"></input></label><br>
        <label>An adjective:
        <input type="text" name="adjective"></input></label><br>
        <label>A verb:<br>
        <input type="radio" name="verb" value="ran">Ran</input></label><br>
        <label><input type="radio" name="verb" value="walked">Walked</input></label><br>
        <label><input type="radio" name="verb" value="jumped">Jumped</input></label><br>
        <label><input type="radio" name="verb" value="skipped">Skipped</input></label><br>
        <label><input type="radio" name="verb" value="stopped">Stopped</input></label><br>
        <label><input type="radio" name="verb" value="hopped">Hopped</input></label><br>
        <label>Select at least one animal: <br>
        <input type="checkbox" name="animal" value="kangaroo">Kangaroo</input></label><br>
        <input type="checkbox" name="animal" value="elephant">Elephant</input></label><br>
        <input type="checkbox" name="animal" value="baloonicorn">Balloonicorn</input></label><br>
        <input type="checkbox" name="animal" value="dragon">Dragon</input></label><br>
        <input type="checkbox" name="animal" value="owl">Owl</input></label><br>

        <label>Select a color: 
        <select name="color">
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="orange">Orange</option>
        </select></label>
        <input type="submit">
    </form>
</body>
</html>